
@media(max-width:960px) {
  .for-large-xx {
    display:none;
  }
}

.showmobile { display: none; }
@media only screen
and (min-device-width : 299px)
and (max-device-width : 500px){ .showmobile { display: inline; }}

.showm { display: none; }
@media only screen
and (min-device-width : 600px)
and (max-device-width : 899px){ .showm { display: inline; }}

.fon-n
{
  background-size: auto;
}
.hg
{
  line-height:-3px;
  margin-top: -10px;
}
.ms{
  margin-top: -100px;
}
.fonnm
{
margin-left: -1cm;
text-align:center;
font-size: 70px;
text-shadow:  rgb(251, 255, 0) 5px 2px 2px, rgb(255, 254, 213) -5px -3px 2px, rgb(0, 247, 255) -8px 4px 5px, rgb(0, 38, 255) 16px -1px 5px, #cad5e2 1px 1px 0, #cad5e2 2px 2px 0, 
#cad5e2 3px 3px 0, #cad5e2 4px 4px 0, 
#cad5e2 5px 5px 0;
margin-right: 2cm;
margin-top: -1cm;
margin-bottom: -3cm;
color: rgb(255, 0, 0);
}
.fonn
{
margin-left: -1cm;
text-align:center;
font-size: 45px;
text-shadow:  rgb(251, 255, 0) 5px 2px 2px, rgb(255, 254, 213) -5px -3px 2px, rgb(0, 247, 255) -8px 4px 5px, rgb(0, 38, 255) 16px -1px 5px, #cad5e2 1px 1px 0, #cad5e2 2px 2px 0, 
#cad5e2 3px 3px 0, #cad5e2 4px 4px 0, 
#cad5e2 5px 5px 0;
margin-right: 2cm;
color: rgb(255, 0, 0);
}
.fot
{
  font-size: 5cm;
  margin-bottom: -4cm;
  margin-top: -0.4cm;
text-shadow:  rgb(251, 255, 0) 5px 2px 2px, rgb(255, 254, 213) -5px -3px 2px, rgb(0, 247, 255) -8px 4px 5px, rgb(0, 38, 255) 16px -1px 5px, #cad5e2 1px 1px 0, #cad5e2 2px 2px 0, 
#cad5e2 3px 3px 0, #cad5e2 4px 4px 0, 
#cad5e2 5px 5px 0;
margin-right: 2cm;
color: rgb(153, 0, 255);
}
.opischotakrastlich
{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: -2.5cm;
  margin-bottom: -12cm;
  align-items: flex-end;
  color: rgb(88, 2, 2);
  font-size: 20px;
  margin-left: 2cm;
  position: relative;
  z-index: 1000;
 }
 .opischotakrastlichmob
{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: -2cm;
  margin-bottom: -12cm;
  align-items: flex-end;
  color: rgb(88, 2, 2);
  font-size: 50px;
  margin-left: 2cm;
  position: relative;
  z-index: 1000;
 }
 .opischotakrastlicht
{
  margin-top: -2cm;
  margin-bottom: -15cm;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:60px;
  color: rgb(0, 0, 0);
 }
 .perehodm
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 2cm;
  flex-wrap: wrap;
  font-size: 70px;
  margin-top: -0.6cm;
  color: rgb(0, 0, 0);
}
.perehod
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 2cm;
  font-size: 40px;
  margin-top: -0.6cm;
  color: rgb(0, 0, 0);
}
.perehod1
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 2cm;
  font-size: 70px;
  margin-top: -0.6cm;
  color: rgb(0, 0, 0);
}
.mal
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 2px;
  margin-top: 0.1cm;
  font-size: 20px;
  margin-bottom: -3cm;
}
.zad
{
  margin: 40px 0;
	padding: 0;
	height: 10px;
	border: none;
	border-top: 5px solid rgb(245, 2, 2);
	box-shadow: 0 20px 20px -20px #ff0000 inset;
  margin-bottom: -2cm;
  margin-top: 13cm;
}
.zadm
{
  width: 30cm;
  margin: 40px 0;
	padding: 0;
	height: 10px;
	border: none;
	border-top: 5px solid rgb(245, 2, 2);
	box-shadow: 0 20px 20px -20px #ff0000 inset;
  margin-bottom: -2cm;
  margin-top: 13cm;
}
.zadt
{
  width: 33cm;
  margin: 40px 0;
	padding: 0;
	height: 10px;
	border: none;
	border-top: 5px solid rgb(245, 2, 2);
	box-shadow: 0 20px 20px -20px #ff0000 inset;
  margin-bottom: -2cm;
  margin-top: 13cm;
}

.zadt1
{
  width: 45cm;
  margin: 40px 0;
	padding: 0;
	height: 10px;
	border: none;
	border-top: 5px solid rgb(245, 2, 2);
	box-shadow: 0 20px 20px -20px #ff0000 inset;
  margin-bottom: -2cm;
  margin-top: 13cm;
}