.for-large-xx { display: none; }
@media only screen
and (min-device-width : 960px)
and (max-device-width : 1500px)
{ .for-large-xx { display: inline; }}

.showmobile { display: none; }
@media only screen
and (min-device-width : 299px)
and (max-device-width : 500px)
{ .showmobile { display: inline; }}

.showm { display: none; }
@media only screen
and (min-device-width : 600px)
and (max-device-width : 899px){ .showm { display: inline; }}

.bod{
  background:url(пес.jpg);
  background-repeat:no-repeat;
  background-color: rgb(255, 255, 255);
  margin-bottom: -12cm;
}

.fonn
{
text-align:end;
font-size: 60px;
text-shadow:  rgb(251, 255, 0) 5px 2px 2px, rgb(255, 254, 213) -5px -3px 2px, rgb(0, 247, 255) -8px 4px 5px, rgb(0, 38, 255) 16px -1px 5px, #cad5e2 1px 1px 0, #cad5e2 2px 2px 0, 
#cad5e2 3px 3px 0, #cad5e2 4px 4px 0, 
#cad5e2 5px 5px 0;
font-family:fantasy;
margin-left: 5cm;
color: rgb(255, 0, 0);
}
.fonnt
{
  text-align: center;
  margin-left: 2cm;
font-size: 60px;
margin-bottom: -2cm;
text-shadow:  rgb(251, 255, 0) 5px 2px 2px, rgb(255, 254, 213) -5px -3px 2px, rgb(0, 247, 255) -8px 4px 5px, rgb(0, 38, 255) 16px -1px 5px, #cad5e2 1px 1px 0, #cad5e2 2px 2px 0, 
#cad5e2 3px 3px 0, #cad5e2 4px 4px 0, 
#cad5e2 5px 5px 0;
font-family:fantasy;
color: rgb(255, 0, 0);
}
.fonna
{
font-size: 60px;
margin-bottom: -1cm;
text-shadow:  rgb(251, 255, 0) 5px 2px 2px, rgb(255, 254, 213) -5px -3px 2px, rgb(0, 247, 255) -8px 4px 5px, rgb(0, 38, 255) 16px -1px 5px, #cad5e2 1px 1px 0, #cad5e2 2px 2px 0, 
#cad5e2 3px 3px 0, #cad5e2 4px 4px 0, 
#cad5e2 5px 5px 0;
font-family:fantasy;
margin-left: 2cm;
color: rgb(255, 0, 0);
}
.opischotakrastlich
{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  flex-direction: column;
flex-wrap: wrap;
  margin-top: -2.5cm;
  margin-bottom: 2cm;
  align-items: flex-end;
  color: rgb(88, 2, 2);
  font-size: 20px;
  margin-left: 15cm;
  position: relative;
  z-index: 1000;
 }
.fonchik
{
  background: -webkit-linear-gradient(top, rgb(253, 255, 138) 20%,rgb(217, 210, 245) 20%, rgb(219, 255, 210) 20%,rgb(252, 215, 244) 20%, rgb(203, 215, 253) 100%);
  margin-top: -13cm;
  margin-left: 14.5cm;
  width: 20cm;
height: 11cm;
filter: blur(30px);
margin-bottom: -15cm;
}
.perehod
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 2cm;
  font-size: 40px;
  margin-top: -0.6cm;
  color: rgb(0, 0, 0);
}
.mal
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 2px;
  margin-top: 0.1cm;
  font-size: 20px;
  margin-bottom: -3cm;
}
.zad
{
	padding: 0;
	height: 40px;
  width: 34cm;
	border: none;
	border-top: 5px solid rgb(245, 2, 2);
	box-shadow: 0 20px 20px -20px #ff0000 inset;
  margin-bottom: -2cm;
  margin-top: -0.7cm;
}
.zad1
{
  margin: 40px 0;
	padding: 0;
	height: 10px;
	border: none;
	border-top: 5px solid rgb(245, 2, 2);
	box-shadow: 0 20px 20px -20px #ff0000 inset;
  margin-bottom: 4cm;
  margin-top: 25cm;
}
.perehod1
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 2cm;
  font-size: 40px;
  margin-top: -0.6cm;
  color: rgb(0, 0, 0);
}
.fon1
{
  background-color: azure;
  margin-left: -10px;
  margin-top: -11px;
}
.fonn1
{
margin-left: -1cm;
text-align:end;
font-size: 45px;
text-shadow:  rgb(251, 255, 0) 5px 2px 2px, rgb(255, 254, 213) -5px -3px 2px, rgb(0, 247, 255) -8px 4px 5px, rgb(0, 38, 255) 16px -1px 5px, #cad5e2 1px 1px 0, #cad5e2 2px 2px 0, 
#cad5e2 3px 3px 0, #cad5e2 4px 4px 0, 
#cad5e2 5px 5px 0;
font-family:fantasy;
margin-right: 2cm;
color: rgb(255, 0, 0);
}

.tel1
{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: -5cm;
  margin-top: -2cm;
  color: rgb(88, 2, 2);
  font-size: 35px;
}
.tel2
{
  padding: 0;
	height: 40px;
  width: 25cm;
	border: none;
	border-top: 5px solid rgb(245, 2, 2);
	box-shadow: 0 20px 20px -20px #ff0000 inset;
  margin-bottom: 1cm;
  margin-top: 5cm;
}
.a1
{
  padding: 0;
	height: 40px;
  width: 29cm;
	border: none;
	border-top: 5px solid rgb(2, 47, 245);
	box-shadow: 0 20px 20px -20px #59d8ff inset;
  margin-bottom: 1cm;
  margin-top: 5cm;
}
.tel3
{
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 2cm;
  font-size: 32px;
  margin-top: 0cm;
  color: rgb(0, 0, 0);
}
.a3
{
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 2cm;
  font-size: 32px;
  margin-top: 1cm;
  color: rgb(0, 0, 0);
}
.tel31
{
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 2cm;
  font-size: 32px;
  margin-top: -2cm;
  color: rgb(0, 0, 0);
}
.tel4
{
  margin-left: 2cm;
  margin-top: 4cm;
}